.dropdown-header{
    border: 1px solid #d5bebe;
    display:block;
    padding: 8px;
    text-align: left;
    line-height: 1.2;
    position: relative;
    width: 200px;
    margin-left: 20px;
}
.dropdown-header::after{
    content: '';
    height: 12px;
    width: 12px;
    position: absolute;
    right: 9px;
    border-left: 2px solid #908a8a;
    border-bottom: 2px solid #908a8a;
    transform: rotate(-45deg);
}

.dropdown-header.active + .dropdown-content{
    display: block;
}

.dropdown-content{
    background-color: lightgray;
    width: 200px;
    margin: 20px;
    margin-top: 0;
    display: none;
}
.dropdown-content a{
    display: block;
    text-align: left;
    padding: 5px 12px;
    text-align: left;
    margin: 20px;
    margin-top: 0;
    line-height: 1.2;
    width: 200px;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: white;
}