<button routerLink="../params/query-params" class="btn btn-success m-5">
  query-params
</button>

<button routerLink="../params/fragments" class="btn btn-success m-5">
  fragments
</button>

<div class="card p-5 m-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h1>
    params are sending data dynamically as id in routing and getting back that
    using activated route param map .subscribe
  </h1>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
