<div class="container-fluid my-5">
  <div class="container d-flex justify-content-between">
    <div class="col-md-6 p-2">
      <app-shared [productsArr]="products">
        <h1>Electronics</h1>
        <a  class="m-3 text-decoration-none text-info">See More...</a>
      </app-shared>
    </div>
    <div class="col-md-6 p-2">
      <app-shared [productsArr]="fruits">
        <h1>fruits</h1>
        <a class="m-3 text-decoration-none text-info">Get More...</a>
      </app-shared>
    </div>
  </div>
</div>
