<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="imgcontainer">
    <img src="../../../../../assets/ind.jpeg" alt="Avatar" class="avatar" />
  </div>

  <div class="container mt-0">
    <div class="mb-1">
      <label for="uname" class="form-label"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="uname"
        [(ngModel)]="form.username"
        required
        class="form-control"
        #username="ngModel"
      />
      <div class="form-text">
        <br *ngIf="!(username.errors?.['required'] && username.touched)" />
        <span *ngIf="username.errors?.['required'] && username.touched"
          >Email is required</span
        >
      </div>
    </div>

    <div class="mb-1">
      <label class="form-label" for="psw"><b>Password</b></label>
      <input
        type="password"
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter Password"
        name="psw"
        [(ngModel)]="form.password"
        required
        class="form-control"
        #password="ngModel"
        matInput
      />
      <div class="form-text">
        <br *ngIf="!(password.errors?.['required'] && password.touched)" />
        <span *ngIf="password.errors?.['required'] && password.touched">
          Password is required
        </span>
      </div>
      <span class="material-icons" matSuffix (click)="hide = !hide">
        {{ hide ? "visibility" : "visibility_off" }}
      </span>
    </div>
    <div class="mb-3 form-check">
      <input
        id="checkbox"
        class="form-check-input"
        type="checkbox"
        name="checkBox"
        required
        checked
      />

      <label for="checkbox" class="form-check-label"
        >I agree to these <a href="#">Terms and Conditions</a>.</label
      >
    </div>

    <div class="button" #buttonDiv>
      <button class="btn-lg btn btn-success" type="submit">Login</button>
      <div class="forgotPassword">Forgot <a routerLink="/forgot-Password"> password? </a></div>
    </div>
  </div>
</form>
